{% extends 'layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
    <div class="card text-center border-success mb-3">
        <div class="card-header">
            <h5>Inscription</h5>
        </div>
        <div class="card-body">
            {{ form_row(registrationForm.email, {label: '✉ Mail'}) }}
            {{ form_row(registrationForm.plainPassword, {
            label: '🔑 Mot de passe'}) }}
        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-success">Valider</button>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
