{% extends 'layout.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block body %}
    <h1>
        Les services <a href="{{ path('service_add' ) }}"><img src= "{{ asset('Images/index.png')}}" height="40"></a>
    </h1>
    {% if services|length > 0 %}
    {% for i in 0..services|length - 1 %}
    <ul>
        <tr>
            <br>
                Nom du service :{{services[i].nom }}
            </br>
            <br>
                <a href="{{ path('service_update' , {id : services[i].id}) }}"><img src= "{{ asset('Images/im.jpg')}}" height="30"></a>
                <a href="{{ path('service_delete' , {id : services[i].id}) }}"><img src= "{{ asset('Images/images.png')}}" height="30"></a>
            </br>    
        </tr>
    </ul>
    {% endfor %}
    {% endif %}
    <pre>
        Revenir au menu <a href="{{ path('service')}}"><img src= "{{ asset('Images/i2.jpg')}}" height="30"></a>
    </pre>
{% endblock %}