{% extends 'layout.html.twig' %}

{% block body %}
    <h1>
        {% if utilisateur != null %}
            Réservations <a href="{{ path('add_r', {id : utilisateur.getId()}) }}"><img src= "{{ asset('Images/index.png')}}" height="40"></a>
        {% endif %}
    </h1>
    {% if reservations|length > 0 %}
    {% for reservation in reservations %}
    <ul>
        <tr>
            <br> 
                Nom Créateur : {{reservation.getCreateur().getNom()}}
                <p></p>
                Salle :{{reservation.getSalle().getLibelle()}}
                 <p></p>
                Réserver de {{reservation.getDateD|date("Y-m-d H:i:s")}} à {{reservation.getDateF|date("Y-m-d H:i:s")}}
            </br>
            <br>
                <a href="{{ path('ResController_update' , {id : reservation.id}) }}"><button type="button" class="btn btn-outline-dark">Modifier</button></a>
                <a href="{{ path('ResController_delete' , {id : reservation.id}) }}"><button type="button" class="btn btn-outline-danger">Supprimer</button></a>
            </br>    
        </tr>
    </ul>
    {% endfor %}
    {% endif %}
{% endblock %}