{% extends 'layout.html.twig' %}


{% block body %}
{{ form_start(formulaire) }}
<div class="card text-center border-warning mb-3">
    <div class="card-header">
        <h5>Modification Réservation</h5>
    </div>
    <div class="card-body">
        {{ form_row(formulaire.dateD) }}
        {{ form_row(formulaire.dateF) }}
        {{ form_row(formulaire.participant) }}
        {{ form_row(formulaire.salle) }}
    </div>
    <div class="card-footer text-muted">
        {{ form_end(formulaire) }}        
    </div>
</div>

{% endblock %}