{% extends 'layout.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>
        <p>Les utilisateurs</p><a href="{{ path('utilisateur_add' ) }}"><button type="button" class="btn btn-primary">Ajouter</button></a>
    </h1>
    {% if utilisateurs|length > 0 %}
    {% for i in 0..utilisateurs|length - 1 %}
    <div class="card border-secondary mb-3">
        <h5 class="card-header">{{utilisateurs[i].nom }} {{utilisateurs[i].prenom }}</h5>
        <div class="card-body">
            <a href="{{ path('utilisateur_update' , {id : utilisateurs[i].id}) }}"><button type="button" class="btn btn-warning">Modifier</button></a>
            <a href="{{ path('utilisateur_delete' , {id : utilisateurs[i].id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
        </div>
    </div>
    </p>
    {% endfor %}
    {% endif %}
{% endblock %}