{% extends 'base.html.twig' %}

{% block title %}Utilisateurs!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;}
</style>
<div class="example-wrapper">
    <h1>
        Les utilisateurs <a href="{{ path('utilisateur_add' ) }}"><img src= "{{ asset('Images/index.png')}}" height="40"></a>
    </h1>
    {% for i in 0..utilisateurs|length - 1 %}
    <ul>
        <tr>
            <br>
                Nom utilisateur :{{utilisateurs[i].nom }}
                <p></p>
                Prénom utilisateur : {{utilisateurs[i].prenom }}
            </br>
            <br>
                <a href="{{ path('utilisateur_update' , {id : utilisateurs[i].id}) }}"><img src= "{{ asset('Images/im.jpg')}}" height="30"></a>
                <a href="{{ path('utilisateur_delete' , {id : utilisateurs[i].id}) }}"><img src= "{{ asset('Images/images.png')}}" height="30"></a>
            </br>    
        </tr>
    </ul>
    {% endfor %}
<pre>
    Revenir au menu <a href="{{ path('utilisateur')}}"><img src= "{{ asset('Images/i2.jpg')}}" height="30"></a>
</pre>
</div>
{% endblock %}