{% extends 'base.html.twig' %}



{% block title %}Réservation de réunion{% endblock %}

{% block body %}
<link rel="stylesheet" href="/pagetest.css" />

<div class="topbar">
    <a href="/"><img src="/logo-gsb.png" width= "100px"/></a>
</div>

<div class="menu">
    <a href="{{ path('page_test')}}">ACCUEIL</a>
    <a> | </a>
    <a href="/">RÉSERVER</a>
    <a> | </a>
    <a href="/">CONSULTER</a>
    <a> | </a>
    <a href="{{ path('app_login')}}">CONNEXION</a>
    <a> | </a>
    <a href="{{ path('role_add')}}">ROLE</a>
    <a> | </a>
    <a href="{{ path('utilisateur_add')}}">UTILISATEUR</a>
    <a> | </a>
    <a href="{{ path('typeController_type_add')}}">TYPE</a>
    <a> | </a>
    <a href="{{ path('salle_add')}}">SALLE</a>
    <a> | </a>
    <a href="{{ path('service_add')}}">SERVICE</a>
    
</div>

<div class="contenu">
    <h1>Bonjour</h1>
</div>

<div class="footer">
    <a>Application v.1</a>
</div>

{# <div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
</div> #}
{% endblock %}
