{% extends 'layout.html.twig' %}

{% block title %}Liste des salles{% endblock %}

{% block body %}
    <h1>
        <p>Les salles de réservation</p><a href="{{ path('salle_add' ) }}"><button type="button" class="btn btn-outline-primary">Ajouter</button></a>
    </h1>
    {% if salles|length > 0 %}
    {% for i in 0..salles|length - 1 %}
    <div class="card">
        <h5 class="card-header">{{salles[i].libelle }}</h5>
        <div class="card-body">
            <h5 class="card-title">Nombre de place(s): {{salles[i].nbPlaces}}</h5>
            <a href="{{ path('salle_update' , {id : salles[i].id}) }}"><button type="button" class="btn btn-outline-dark">Modifier</button></a>
            <a href="{{ path('salle_delete' , {id : salles[i].id}) }}"><button type="button" class="btn btn-outline-danger">Supprimer</button></a>
        </div>
    </div>
    </p>   
    {% endfor %}
    {% endif %}
{% endblock %}