{% extends 'layout.html.twig' %}

{% block title %}Modification une salle{% endblock %}

{% block body %}
{{ form_start(formulaire) }}
<div class="card text-center border-warning mb-3">
    <div class="card-header">
        <h5>Modification une salle</h5>
    </div>
    <div class="card-body">
        {{ form_row(formulaire.libelle) }}
        {{ form_row(formulaire.nbPlaces) }}
        {{ form_row(formulaire.service) }}
        {{ form_row(formulaire.type) }}
    </div>
    <div class="card-footer text-muted">
        {{ form_end(formulaire) }}        
    </div>
</div>

{% endblock %}