<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('pagetest.css')}}" />
    </head>
    <body>
        <div class="topbar">
        <a href="/"><img src="{{ asset('logo-gsb.png')}}" width= "100px"/></a>
        </div>

       <div class="menu">
            
            {% if app.user %}
                <a href="{{ path('app_logout') }}">DÉCONNEXION</a>
                <a> | </a>
                <a href="/">RÉSERVER</a>
                <a> | </a>
                <a href="{{ path('list_r')}}">CONSULTER</a>
                <a> | </a>
                <a href="{{ path('role_add')}}">ROLE</a>
                <a> | </a>
                <a href="{{ path('utilisateur_add')}}">UTILISATEUR</a>
                <a> | </a>
                <a href="{{ path('typeController_type_add')}}">TYPE</a>
                <a> | </a>
                <a href="{{ path('salle_add')}}">SALLE</a>
                <a> | </a>
                <a href="{{ path('service_add')}}">SERVICE</a>
            {% else %}
                <a href="{{ path('app_login')}}">CONNEXION</a>
            {% endif %}
    
        </div>

        

        <div class="contenu">
            {% if app.user or app.request.get('_route') == 'app_login' %}
                {% block body %}{% endblock %}
            {% else %}
                <img src="{{ asset('Images/padlock.png')}}" width= "100px"/>
                <p>Vous devez être connecté pour accéder au site.</p>
            {% endif %}
        </div>


        <div class="footer">
            <a>Application v.1</a>
        </div>
    </body>
</html>
